.container {
    margin:0 32vw;
}
.gridcontainer {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    border:2px solid black;
}
.gridsquare {
    aspect-ratio: 1 / 1;
    box-sizing:border-box;
}
.slider {
    width:100%;
}